.maininfo{
    float: left;
    width: 50%;
    height: 500px;
    margin-bottom: 10%;
    background-color:white;
    margin-top: 10%;

}
.mainimage{
    float: right;
    width: 50%;
    margin-bottom: 10%;
    height: 500px;
    margin-top: 10%;
}
.mainimage img{
    height: 500px;
}
footer{
    clear: both;
}
p{
    text-align: justify;
    margin-top: 50px;
    font-family: Garamond, serif;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 24px;
    

}
h1{
    text-align: center;
    margin-top: 30px;
    font-family: Garamond, serif;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 60px;
   color: rgb(27, 133, 160);
}