.title {
  color: rgb(27, 133, 160);
  padding: 20px;
  margin: 0;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 62px;
  font-weight: bold;    
}
.row{
  display: flex;
  justify-content: space-between;
}
.col{
  flex:0 0 33%;
  max-width:  33%;
}
.blog {    
  background-color: #ffffff;
  padding: 100px 100px;    
}

.blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
}
.blog-grid .blog-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.blog-grid .blog-img:hover{
    opacity: 0.8;
    transition: .2s;
}
.blog-grid .blog-img .date {
  position: absolute;
  background:  #9fc93e;
  color: #ffffff;
  padding: 8px 15px;
  left: 0;
  top: 10px;
  font-size: 14px;
}
.blog-grid .blog-info {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  background: #ffffff;
  padding: 20px;
  margin: -30px 20px 0;
  position: relative;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color:  rgb(27, 133, 160);
  text-decoration: none;
}
.blog-grid .blog-info h5 a:hover {
    color: #9fc93e;
    text-decoration: underline;
  }
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}
.px-btn-arrow {
    padding: 0 50px 0 0;
    line-height: 20px;
    position: relative;
    display: inline-block;
    color: rgb(27, 133, 160);
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}
.px-btn-arrow:hover {
    color: #9fc93e;
}
.px-btn-arrow .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
    -moz-transition: ease right 0.3s;
    -o-transition: ease right 0.3s;
    -webkit-transition: ease right 0.3s;
    transition: ease right 0.3s;
}
.px-btn-arrow .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.blog-page {    
  padding: 100px 100px;    
}
.article1, .article2, .article3{
    background-color: #ffffff;
    padding: 30px 80px 30px 80px;
    margin-left: 100px;
    margin-right: 100px;
}
.title-article{
    margin-top: 30px;
    margin-bottom: 0;
    color: rgb(27, 133, 160);
    padding-bottom: 20px;
    
    text-align: center;
    font-family: Garamond, serif;
    font-size: 48px;
    font-weight: bold;
}
#article-hr{
    color: rgb(27, 133, 160);
    height: 1px;
    width: 50%;
    background-color: rgb(27, 133, 160);
    margin-bottom: 80px;
}
.article1 h2,h3{
  padding: 10px 0 10px 0;
    
}
.photo1{
  float: left;
  padding: 20px 30px 20px 0px;
}
.photo2{
  float: right;
  padding: 20px 0px 30px 20px
}
.photo3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  padding: 20px;
}
.linkto{
  text-decoration: none;
  color: rgb(27, 133, 160);
}
.linkto:hover{
  text-decoration: underline;
  color: #9fc93e;
}









.accordian {
width: 80%px; 
height: 320px;
overflow: hidden;
margin: 60px auto;

}
.accordian ul {
width: 1200px;
}
.accordian li {
position: relative;
display: block;
width: 160px;
float: left;
border-left: 1px solid #888;

transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}
.accordian ul:hover li {width: 40px;}
.accordian ul li:hover {width: 640px;}
.accordian li img {
display: block;
}
.image_title {
background: rgba(0, 0, 0, 0.5);
position: absolute;
left: 0; bottom: 0;	
width: 640px;	
}
.image_title a {
display: block;
color: #fff;
text-decoration: none;
padding: 20px;
font-size: 16px;
}