main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: white;
    opacity: 0.9;
}

h1,h2{
    text-align: center;
    margin-top: 30px;
    font-family: Garamond, serif;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 60px;
    color: rgb(27, 133, 160);
    
}

.main{
    display: flex;
    margin-top: 2em;
    font-size: 16px;
}




hr{
    width: 60%;
    background-color: rgb(27, 133, 160);
}
.line{
    color: rgb(27, 133, 160);
}
.name{
    font-size: 24px;
}

option{
    text-align: left;
    margin-top: 30px;
    font-family: Garamond, serif;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 2em;
}
label{
    text-align: left;
    margin-top: 30px;
    font-family: Garamond, serif;
    font-size: 1.5em;
}
p{
    text-align: left;
    margin-top: 30px;
    font-family: Garamond, serif;
    font-size: 1.5em;
}

.form{
    flex: 60%;
    padding: 1em;
    padding-right: 7em;
    padding-left: 5em;
}
.item{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #9fc93e;
    color: rgb(27, 133, 160);
    resize: none;
    font-size: 16px;   
}
.item:focus{
    background-color: #c3db8b;;
}
.butt{
    position: relative;
    left:30%;
}
.submit{
    height: 40px;
    width: 200px;
    background-color: #9fc93e;
    border: 3px solid #80a32e;
    border-radius: 2px;
}
.submit:hover{
    cursor: pointer;
    opacity: 0.8;
}
button{
    text-align: center;
    margin-top: 30px;
    font-family: Garamond, serif;
    font-size: 2em;
}